.jumbotron {
    margin-bottom: 5rem;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(
        to right,
        rgba(158, 203, 255, 0.114),
        rgba(255, 223, 223, 0.114)
    );
    margin-top: -50px;
    /* height: 500px; */
}
